target/
.lck
.log
.idea
*.iml
.settings
.project
.classpath
.git
.svn
.tmp
.bkp
lib/project-external-dependency-jars
src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/lib
src/main/webapp/types.js
src/main/webapp/wmapp
src/main/webapp/wmmobile
services/*/designtime/*_API.json
services/*/src/servicedefs/*-service-definitions.json
*_vk.hbm.xml
!src/main/webapp/WEB-INF/data/*.log
src/main/webapp/pages/*/page.min.html
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
